.header{/*Параметры блока header*/
	margin: auto;
	width: 900px;
	height: 160px;
	background-color: #ffffff;
	border: 0px;
}
.logo{/*Положение логотипа*/
	margin-top: 10px;	
	margin-left: 370px;
}
.Brand{/*Праметры блока Brand*/
	margin: auto;
	background: url(../Assets/Bar_photo.png) 
	center center no-repeat;	
	background-size:cover;
	width: 900px;
	height: 596px;
	filter: blur(5px);
}
.History{/*Праметры блока History*/
	margin: auto;
	background-color: #314a9b;	
	background-size: cover;
	width: 900px;
	height: 596px;
	filter: blur(5px);
}
.About_Beer{/*Праметры блока About beer*/
	margin: auto;
	background-color: #ffffff;
	background-size: cover;
	width: 900px;
	height: 629px;
	filter: blur(5px);
}
.Sponsorship{/*Праметры блока Sponsorship*/
	margin: auto;
	background-color: #314a9b;	
	background-size: cover;
	width: 900px;
	height: 276px;
	filter: blur(5px);
}
.footer{/*Праметры блока Footer*/
	margin: auto;
	background-color: #ddba66;
	width: 900px;
	height: 85px;
	filter: blur(5px);
}
 .Size{ /*Праметры кнопок в header*/
 	width:95px;
 	height:40px;
 	border: 0px;
 	background-color: #314a9b;	
 	font-size: 15px;
	color: white;
	letter-spacing: 0.1px;
 }
 .position{/*Позиция*/
 	position:relative;
 }
.HeaderButtonStyle{
	width: 215px;
	margin: center;
	margin-top: 20px;
	margin-left: 245px;
	float: left;
}
.HeaderButtonStyle2{
	width: 250px;
	margin: auto;
	margin-top: 20px;
	margin-right: 185px;
	float: right;
}
 .HeaderButton{ /*Положение кнопки Brand*/	 	
 	margin-right: 10px;
	margin-bottom: 10px;
 } 
 .HeaderButton:hover/*Ховер эффект кнопки Brand*/
 {
 	background-color: #ddba66;
 } 
.TextP_Hoegaarden/*Параметры заголовка Hoegaarden*/
{
	top: 79px;
	margin: auto;
	font-size: 71px;
	color: #ddba66;
	letter-spacing: 0.1px;
	z-index: 2;
	text-shadow: 5px 0px 0px black;	
	width: 410px;
}
.TextBrand/*Параметры текста под Hoegaarden*/
{
	text-align: center;
	top: 288px;	
	font-size: 21px;
	color: white;
	letter-spacing: 0.1px;
}
.TextP_History/*Параметры заголовка History*/
{
	top: 90px;
	left: 175px;
	font-size: 31px;
	color: #ddba66;
	letter-spacing: 0.1px;
	text-shadow: 3px 0px 0px black;	
	width: 110px;
}
.Text_1445/*Параметры текста под History*/
{
	top: 6px;
	left: 30px;
	font-size: 20px;
	color: white;
	letter-spacing: 1px;
}
.Blue_box/*Параметры синнего квадрата под заголовком History и текстом*/
{
	top: 97px;
	left: 33px;
	background: #3f51b5;
	width: 385px;
	height: 280px;
	border: 1px solid white;
}
.Button_GoToWebsite/*Параметры кнопки Go to website*/
{
	background-color: #314a9b;	
 	font-size: 15px;
	color: white;	
	top: 132px; 
	left: 83px;
	width: 285px;
	height: 40px;
	letter-spacing: 0.1px;	
}
.Button_GoToWebsite:hover/*Ховер эффект для кнопки Go to website*/
{
	background-color:  #ddba66;
}
.Pic_Monk/*Положение картинки Monk*/
{
	left: 450px;
	bottom: 308px;
}
.Pic_map/*Положение картинки map*/
{
	z-index: 1;
	top: 72px;
	left: 50px;
}
.Pic_beer/*Положение картинки Beer*/
{
	z-index: 2;
	left: 84px;
	bottom: 202px;
    width: 800px;
}
.About_box/*Параметры синего квадрата под заголовком ORIGINAL и текстом*/
{
	z-index: 2;
	left: 418px;
	bottom: 610px;
	background: #3f51b5;
	width: 450px;
	height: 260px;
	border: 1px solid white;
}
.Text_Original/*Прпраметры заголовка ORIGINAL*/
{
	left: 36px;
	top: 16px;
	font-size: 31px;
	color: #ddba66;
	letter-spacing: 0.1px;
	text-shadow: 3px 0px 0px black;	
	width: 150px;
}
.Text_About/*Параметры текста под заголовком ORIGINAL*/
{
	top: 18px;
	left: 38px;
	font-size: 20px;
	color: white;
	letter-spacing: 1px;
}
.Button_BarLocator/*Параметры кнопки Bar locator*/
{
	z-index: 2;
	top: 100px;
	left: 95px;
	width: 285px;
	height: 40px;
	background-color: #314a9b;	
 	font-size: 15px;
	color: white;
	letter-spacing: 0.1px;	
}
.Button_BarLocator:hover/*Ховер эффект кнопки Bar locator*/
{
	background-color:  #ddba66;
}
.Pic_Fifa/*Положение картинки FIFA*/
{
	left: 120px;
	top: 60px;
}
.Pic_MinSport/*Положение картинки Минспорт*/
{
	left: 241px;
	top: 60px;
}
.Pic_NHL/*Положение картинки NHL*/
{
	left: 363px;
	top: 60px;
}
.Button_Schedule/*Параметры кнопки Schedule of matches of world cup*/
{
	right: 111px;
	top: 71px;
	width: 285px;
	height: 40px;
	background-color: #314a9b;	
 	font-size: 15px;
	color: white;
	letter-spacing: 0.1px;	
}
.Button_Schedule:hover/*Ховер эффект кнопки Schedule of matches of world cup*/
{
	background-color:  #ddba66;
}
.LinkBottom/*Нижний отступ для пиктограмм соц сетей*/
{
	bottom: -10px;
}
.Link_box/*Параметры блока ссылок в footer*/
{
	left: 62px;
	top: 10px;
	width: 90px;
	height: 62px;
	border-left: 1px solid #FFFFFF; 
	border-right: 1px solid #FFFFFF;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-size: 13px;
}
a:visited/*Эффект при посещенной ссылке*/
{
	color: white;
	text-decoration: none;
}
.banner/*Парамтры блока Banner*/
{
	margin: auto;
	width: 760px;
	height: 450px;
	border: 1px solid black;
	z-index: 66;
	background: white;
}
.Banner_text/*Параметры текста Banner*/
{
	text-align: center;
	color: black;
	font-size: 60px;
	width: 425px;
	margin: auto;
	margin-top: 100px;
}
.Banner_button/*Параметры кнопок на Banner*/
{
	 width: 243px;
	 height: 60px;
	 border: 1px solid black;
	 background-color: #314a9b;
	 font-size: 55px;
	 color: white;
	 font-family: 'Ubuntu', sans-serif;
}
.Banner_button:hover/*Ховер эффект для кнопок на Banner*/
{
	 background-color: #ddba66;
}
.Banner_button1_position/*Положение кнопки Yes на Banner*/
{
	top: 85px;
	left: 111px;
}
.Banner_button2_position/*Положение кнопки No на Banner*/
{	
	left: 159px;
	top: 85px;
}
.SocialLinks{
	float: right;
	margin-top: -50px;
	margin-right: 50px;
}
@media screen and (max-width: 480px)
{
	html
	{
		-webkit-text-size-adjust:none;
	}
	.header
	{
		width: 50%;
		font-size: 50%;
	}
	.Size
	{ /*Праметры кнопок в header*/
 		min-width: 200px;
		max-width: 90px;
		min-height: 60px;
		max-height: 50px;
		font-size: 30px;
		margin-right: 5px;
 	}
	.HeaderButtonStyle
	{
		min-width: 600px;
		max-width: 500px;
		min-height: 100px;
		max-height: 80px;		
	}
	.logo
	{/*Положение логотипа*/
		width: 90%;
		margin: auto;
	}
	.Brand
	{/*Праметры блока Brand*/
		width: 90%;
		font-size: 50%;
	}
	.History
	{/*Праметры блока History*/
		width: 50%;
		font-size: 50%;
	}
	.About_Beer
	{/*Праметры блока About beer*/
		width: 50%;
		font-size: 50%;
	}
	.Sponsorship
	{/*Праметры блока Sponsorship*/
		width: 50%;
		font-size: 50%;
	}
	.footer
	{/*Праметры блока Footer*/
		width: 50%;
		font-size: 50%;
	}
}